.PrincipleList {
  display: flex;
  flex-direction: column;
  height: 4vh;

  .principle-container {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;

    .principle-title {
      font-size: 30px;
      color: rgb(247, 207, 47);
      width: 20vw;
      padding-left: 30px;
    }

    .principle-desc {
      word-wrap: break-word;
      line-height: 30px;
      color: white;
      width: 30vw;
      font-size: 20px;
      padding-right: 20px;
    }
  }
}
